body {
	font-family: 'Proxima Nova', sans-serif;
}

.modal {
	height: 1px;
	min-height: 100%;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.modalAuth {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1500;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(14, 18, 36, 0.7);
	touch-action: none;
	cursor: pointer;
}

.regWrapper {
	border-radius: 0.5rem;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	min-width: 200px;
	max-width: 500px;
	max-height: calc(100% - 4em);
	display: flex;
	flex-direction: column;
	background: #1a2c38;
	color: #b1bad3;
	overflow: hidden;
}

.scroll {
	scrollbar-color: #b1bad3 transparent;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	height: 100%;
	flex: 1;
	overscroll-behavior: contain;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #b1bad3;
	z-index: 1500;
	cursor: default;
}

.modalContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.closeBtnWrapper {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

.closeBtn {
	background: 0 0;
	border-radius: 0.25rem;
	justify-content: flex-start;
	font-weight: 600;
	line-height: 150%;
	padding: 1rem;
	appearance: none;
	margin: 0;
	border: none;
	font-size: inherit;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
	outline: none;
}

.closeBtn:hover {
	opacity: 0.8;
}

.closeBtn:active {
	opacity: 0.5;
}

.closeIcon {
	width: 24px;
	height: 24px;
	color: #b1bad3;
}

.content {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	display: flex;
	flex-direction: column;
}

.centerWrapperTitle {
	align-self: center;
}

.title {
	cursor: default;
	font-family: 'Proxima Nova', sans-serif;
	color: #fff;
	line-height: 1.5;
	text-align: left;
	justify-content: flex-start;
	font-size: 1.125rem;
	font-weight: 600;
	display: inline-flex;
	align-items: center;
}

.form {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-items: center;
	touch-action: pan-x;
	margin-top: 1rem;
}

.stacked {
	margin-top: 1rem;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	/* display: inline-flex; */
	position: relative;
}

.stackedInput {
	/* margin-top: 1rem!important; */
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	display: inline-flex;
	position: relative;
}

.inputTitleWrapper {
	display: inline-flex;
	font-family: 'Proxima Nova', sans-serif;
	align-items: center;
	font-weight: 600;
	font-size: 0.875rem;
	color: #b1bad3;
	transition: 0.2s;
	letter-spacing: 0;
	padding: 0 0 0.25rem;
	justify-content: space-between;
}

.inputWrapper {
	width: 100%;
	display: flex;
	flex-shrink: 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	border-radius: 0.25rem;
}

.inputContent {
	position: relative;
	flex-grow: 1;
	width: 100%;
	display: flex;
}

.input {
	font-family: 'Proxima Nova', sans-serif;
	padding: 0.5em;
	width: 100%;
	color: #fff;
	background: #0f212e;
	border: 2px solid #2f4553;
	border-radius: 0.25rem;
	letter-spacing: 0;
	font-weight: 600;
	transition: all 0.25s;
	outline: 0;
	margin: 0;
	cursor: text;
}

.input:hover {
	border: 2px solid #557086;
}

.errorTextWrapper {
	cursor: default;
	font-family: 'Proxima Nova', sans-serif;
	margin-top: 0.75rem;
}

.errorText {
	font-size: 0.92rem;
	color: #fe2247;
	font-weight: 700;
}

.playNowBtn {
	font-family: 'Proxima Nova', sans-serif;
	cursor: pointer;
	opacity: 0.5;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12),
		inset 0 1px rgba(255, 255, 255, 0.04);
	color: #013e01;
	background: #00e701;
	border-radius: 0.25rem;
	padding: 1.25em 1em;
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	min-width: 12ch;
	max-width: 100%;
	margin-top: 1rem !important;
	appearance: none;
	margin: 0;
	border: none;
	touch-action: manipulation;
	position: relative;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 2s;
	flex-shrink: 0;
	outline: none;
}

.playNowBtn:hover {
	opacity: 0.8;
}

.playNowBtn:active {
	opacity: 0.5;
}

.btnText {
	font-family: 'Proxima Nova', sans-serif;
	cursor: pointer;
	color: #013e01;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	-webkit-tap-highlight-color: transparent;
}

.authWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.orContent {
	max-width: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
}

.orContent::before {
	content: '';
	display: inline-flex;
	height: 1px;
	background: #2f4553;
	flex: 1;
}

.orContent::after {
	content: '';
	display: inline-flex;
	height: 1px;
	background: #2f4553;
	flex: 1;
}

.orText {
	cursor: default;
	font-family: 'Proxima Nova', sans-serif;
	color: #b1bad3;
	line-height: 1.5;
	text-align: center;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 0 0.5rem;
	display: inline-flex;
	align-items: center;
}

.auth {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-auto-rows: auto;
	gap: 0.5rem;
	margin-top: 1rem;
}

.provider {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12),
		inset 0 1px rgba(255, 255, 255, 0.04);
	color: #d5dceb;
	background: #2f4553;
	border-radius: 0.25rem;
	padding: 0.5em 1em;
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 1rem;
	font-weight: 600;
	line-height: 150%;
	appearance: none;
	margin: 0;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
	outline: none;
}

.provider:hover {
	opacity: 0.8;
}

.provider:active {
	opacity: 0.5;
}

.icon {
	width: 16px;
	height: 16px;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin-top: 1rem;
}

.regButton {
	color: #fff;
	background: 0 0;
	border-radius: 0.25rem;
	outline: none;
	justify-content: center;
	padding: 0;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	margin-top: 1rem;
	appearance: none;
	margin: 0;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
}

.regButton:hover {
	opacity: 0.8;
}

.regButton:active {
	opacity: 0.5;
}
.regButtonText {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.footerBtn {
	cursor: default;
	color: #b1bad3;
	line-height: 1.5;
	display: inline;
	text-align: center;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 400;
	align-items: center;
	font-family: 'Proxima Nova', sans-serif;
}

.linkBtn {
	font-family: 'Proxima Nova', sans-serif;
	color: #fff;
	background: 0 0;
	border-radius: 0.25rem;
	outline: none;
	padding: 0;
	justify-content: flex-start;
	font-weight: 600;
	line-height: 150%;
	appearance: none;
	margin: 0;
	border: none;
	font-size: inherit;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
}

.linkBtn:hover {
	opacity: 0.8;
}

.linkBtn:active {
	opacity: 0.5;
}

.linkBtnText {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.footerLinkWrapper {
	font-size: 0.75rem;
	color: #b1bad3;
	line-height: 132%;
	display: inline;
	text-align: center;
	justify-content: center;
	font-weight: 400;
	align-items: center;
	font-family: 'Proxima Nova', sans-serif;
}

.footerLink {
	font-size: 0.75rem;
	color: #b1bad3;
	background: 0 0;
	border-radius: 0.25rem;
	padding: 0;
	justify-content: flex-start;
	font-weight: 600;
	line-height: 150%;
	appearance: none;
	margin: 0;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
	outline: none;
	text-decoration: none;
	font-family: inherit;
}

.footerLink:hover {
	opacity: 0.8;
}

.footerLink:active {
	opacity: 0.5;
}

.footerLinkText {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.colorRed {
	color: #ff1f44;
}
